<% content_for :title, "Editing tweet" %>

<h1>Edición del Tweet</h1>

<%= render "form", tweet: @tweet %>

<br>

<div>
  <%= link_to "Show this tweet", @tweet , class: 'btn btn-primary'%> |
  <%= link_to "Back to tweets", tweets_path , class: 'btn btn-primary'%>
</div>
