.card {
    border-radius: 10px;
    border: 1px solid #042d58;
    padding: 5px 10px 20px;
  }
  
  .card-title {
    font-weight: bold;
    font-size: medium;
  }
  
  .card-text {
    color: antiquewhite;
  }
  
  .card-title, .card-text {
    color: #0072EC; 
  }

  .btn {
    margin-right: 5px;
  }
  
  .container {
    max-width: 500px; /* Limita el ancho del contenedor */
  }

  .col-md-8 {
    margin-left: auto; /* Centrado automático */
    margin-right: auto; /* Centrado automático */
  }

  body {
    background: linear-gradient(to right, #010114, #021D3B, #010114);
    margin: 20px; /* Márgenes alrededor del contenido */
    text-co
  }
  
  .container {
    background-color: #111111;
    padding: 20px; /* Espaciado interno */
    border-radius: 20px; /* Bordes redondeados */
  }
  

  .btn {
    border-radius: 5px;
    font-size: medium;
    padding: 5px 10px;
  }
  
  .btn-primary {
    background-color: #0072EC; /* Color azul similar al de Twitter */
  }
  
  h1, h2, h3 , h5{
    color: #0072EC; /* Cambia a cualquier color que desees */
  }

  label {
    color: #0072EC;
    font-size: x-large;
  }

  p {
    color: #0072EC;
    font-size: x-large;
  }